.someClass {

}

.wrapper {
justify-content: center;

}
.sInput{
    padding: 20px;
    background-color: #A8DDFD;
    margin-top: 15px;
    margin-bottom: 20px;

}
.inputClass {
    /*margin: 0 auto;*/
    position: relative;
    color: red;
    top: 0px;
    font-size: 14px;
}

.buttonClass {
    margin: 0 20px;
}

.error {
    border: 1px solid red;
}